<h3 class="title-section">Products</h3>

<hr>
<br>
<div class="container cont-principal">
    <div class="row">
       <div class="col-xl-12 d-flex justify-content-center align-items-center">
            <table class="col-12">
                <thead>
                    <tr class="table-head ">
                        <th class="col-1 mx-6">id</th>
                        <th class="col-2 mx-6">Title</th>
                        <th class="col-4 mx-6">description</th>
                        <th class="col-2 mx-6">price</th>
                        <th class="col-2 mx-3">status</th>
                        <th class="col-4 mx-8">code</th> <!-- Aumentar el margen aquí -->
                        <th class="col-3 mx-8">stock</th>
                    </tr>
                </thead>
                <tbody id='products-container'>
                </tbody>
            </table>
        </div>
    </div>
</div>
