<div class="container-fluid footer">
    <div class="row">
        <div class="col-12">
            <h6>Backend - <strong>Javier Carrizo</strong> , Comision: 55605</h6>
        </div>
    </div>
</div>